body{
  width:90%;
  margin:0 auto;
  padding:0 auto;
}

header{
  width:90%;
  height:2%;
  margin:0 auto;


  h1{
    font-family:'Papyrus', Arial, sans-serif;
    font-size:40px;
    margin-top:2%;
    text-align:center;
  }
}
section{
  margin-top:2%;
  border:2px solid black;
  background: white;
  list-style-type:none;
}
article{
  width:28%;
  height:45%;
  margin:0 auto;
  padding:2%;
  display:inline-block;

  img{
    width:50%;
    margin:0 auto;
    display:block;
  }
}
.brand, .sizes, .price{
  font-size:20px;
  text-align:center;
  font-family:Arial, sans-serif;
}
p{
  font-size:15px;
  text-align:center;
  font-family:Arial, sans-serif;
}
